# Mac
.DS_Store

# Editor
.vscode
.idea
*.swp
*.swo
*~

# Generic
*.log
*.backup
*.local.sh
*.local.yml
*.local.yaml
*.local.json
*.local.txt

# Terraform
.terraform
*.tfstate
.terraform.tfstate.lock.info
*.tfvars
!*.EXAMPLE.tfvars
override.tf

# Infracost
.infracost
.infracost-reports

# Kuberneres
kubeconfig.yml
kubeconfig.*.yml
kubeconfig-sikademo/
